<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DAIHOI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<machineKey validation="SHA1"/>
		<globalization fileEncoding="utf-8"/>
		<authentication mode="Forms">
			<forms loginUrl="/dang-xuat" timeout="240"/>
		</authentication>
		<customErrors mode="RemoteOnly" defaultRedirect="/error404">
			<error statusCode="404" redirect="/dang-nhap"/>
			<error statusCode="403" redirect="/error403"/>
			<error statusCode="500" redirect="/error404"/>
		</customErrors>

		<compilation debug="true" targetFramework="4.8"/>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>

		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
		<httpErrors errorMode="Custom">

			<remove statusCode="404"/>
			<error statusCode="404" path="/error404" responseMode="Redirect"/>
		</httpErrors>
		<httpCompression>
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
			<dynamicTypes>
				<add mimeType="text/*" enabled="true"/>
				<add mimeType="message/*" enabled="true"/>
				<add mimeType="application/javascript" enabled="true"/>
				<add mimeType="*/*" enabled="false"/>
			</dynamicTypes>
			<staticTypes>
				<add mimeType="text/*" enabled="true"/>
				<add mimeType="message/*" enabled="true"/>
				<add mimeType="application/javascript" enabled="true"/>
				<add mimeType="*/*" enabled="false"/>
			</staticTypes>
		</httpCompression>
		<urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By"/>
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
		</staticContent>
		<caching>
			<profiles>
				<add extension=".png" policy="DontCache" kernelCachePolicy="DontCache"/>
				<add extension=".css" policy="DontCache" kernelCachePolicy="DontCache"/>
				<add extension=".js" policy="DontCache" kernelCachePolicy="DontCache"/>
			</profiles>
		</caching>
	</system.webServer>
	<connectionStrings>
		<!--<add name="DAIHOICODONGEntities" connectionString="metadata=res://*/Models.MainModel.csdl|res://*/Models.MainModel.ssdl|res://*/Models.MainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-PV69A3J\SQL;initial catalog=DAIHOICODONG;persist security info=True;user id=sa;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VNPTINVOICEEntities" connectionString="metadata=res://*/Models.VNPTINVOICE.csdl|res://*/Models.VNPTINVOICE.ssdl|res://*/Models.VNPTINVOICE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-PV69A3J\SQL;initial catalog=VNPTINVOICE;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="DAIHOICODONGEntities" connectionString="metadata=res://*/Models.MainModel.csdl|res://*/Models.MainModel.ssdl|res://*/Models.MainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-PV69A3J\SQL;initial catalog=DAIHOICODONG;persist security info=True;user id=sa;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
		<add name="VNPTINVOICEEntities" connectionString="metadata=res://*/Models.VNPTINVOICE.csdl|res://*/Models.VNPTINVOICE.ssdl|res://*/Models.VNPTINVOICE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.1;initial catalog=VNPTINVOICE;persist security info=True;user id=webservice;password=!@#Pypharm1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<applicationSettings>
		<DAIHOI.Properties.Settings>
   <setting name="DAIHOI_pypharm_business_BusinessService" serializeAs="String">
    <value>https://4401084734-c-tt78admin.vnpt-invoice.com.vn/businessService.asmx</value>
   </setting>
   <setting name="DAIHOI_pypharm_extmientrung_ExtMienTrungService"
    serializeAs="String">
    <value>https://4401084734-c-tt78admin.vnpt-invoice.com.vn/ExtMienTrungService.asmx</value>
   </setting>
   <setting name="DAIHOI_pypharm_portal_PortalService" serializeAs="String">
    <value>https://4401084734-c-tt78admin.vnpt-invoice.com.vn/portalService.asmx</value>
   </setting>
   <setting name="DAIHOI_pypharm_publish_PublishService" serializeAs="String">
    <value>https://4401084734-c-tt78admin.vnpt-invoice.com.vn/publishService.asmx</value>
   </setting>
   <setting name="DAIHOI_pypharmhcm_business_BusinessService" serializeAs="String">
    <value>https://pypharmhcm-tt78admin.vnpt-invoice.com.vn/businessService.asmx</value>
   </setting>
   <setting name="DAIHOI_pypharmhcm_extmientrung_ExtMienTrungService"
    serializeAs="String">
    <value>https://pypharmhcm-tt78admin.vnpt-invoice.com.vn/ExtMienTrungService.asmx</value>
   </setting>
   <setting name="DAIHOI_pypharmhcm_portal_PortalService" serializeAs="String">
    <value>https://pypharmhcm-tt78admin.vnpt-invoice.com.vn/portalService.asmx</value>
   </setting>
   <setting name="DAIHOI_pypharmhcm_publish_PublishService" serializeAs="String">
    <value>https://pypharmhcm-tt78admin.vnpt-invoice.com.vn/publishService.asmx</value>
   </setting>
   <setting name="DAIHOI_pypharmtest_business_BusinessService" serializeAs="String">
    <value>https://pypharrm-tt78admindemo.vnpt-invoice.com.vn/businessService.asmx</value>
   </setting>
   <setting name="DAIHOI_pypharmtest_extmientrung_ExtMienTrungService"
    serializeAs="String">
    <value>https://pypharrm-tt78admindemo.vnpt-invoice.com.vn/ExtMienTrungService.asmx</value>
   </setting>
   <setting name="DAIHOI_pypharmtest_portal_PortalService" serializeAs="String">
    <value>https://pypharrm-tt78admindemo.vnpt-invoice.com.vn/portalService.asmx</value>
   </setting>
   <setting name="DAIHOI_pypharmtest_publish_PublishService" serializeAs="String">
    <value>https://pypharrm-tt78admindemo.vnpt-invoice.com.vn/publishService.asmx</value>
   </setting>
   <setting name="DAIHOI_quangtri_business_BusinessService" serializeAs="String">
    <value>https://3200042637-tt78admin.vnpt-invoice.com.vn/businessService.asmx</value>
   </setting>
   <setting name="DAIHOI_quangtri_extmientrung_ExtMienTrungService"
    serializeAs="String">
    <value>https://3200042637-tt78admin.vnpt-invoice.com.vn/ExtMienTrungService.asmx</value>
   </setting>
   <setting name="DAIHOI_quangtri_portal_PortalService" serializeAs="String">
    <value>https://3200042637-tt78admin.vnpt-invoice.com.vn/portalService.asmx</value>
   </setting>
   <setting name="DAIHOI_quangtri_publish_PublishService" serializeAs="String">
    <value>https://3200042637-tt78admin.vnpt-invoice.com.vn/publishService.asmx</value>
   </setting>
   <setting name="DAIHOI_asta_business_BusinessService" serializeAs="String">
    <value>https://4401062392-tt78admin.vnpt-invoice.com.vn/businessService.asmx</value>
   </setting>
   <setting name="DAIHOI_asta_extmientrung_ExtMienTrungService"
    serializeAs="String">
    <value>https://4401062392-tt78admin.vnpt-invoice.com.vn/ExtMienTrungService.asmx</value>
   </setting>
   <setting name="DAIHOI_asta_portal_PortalService" serializeAs="String">
    <value>https://4401062392-tt78admin.vnpt-invoice.com.vn/portalService.asmx</value>
   </setting>
   <setting name="DAIHOI_asta_publish_PublishService" serializeAs="String">
    <value>https://4401062392-tt78admin.vnpt-invoice.com.vn/publishService.asmx</value>
   </setting>
   <setting name="DAIHOI_astatest_publish_PublishService" serializeAs="String">
    <value>https://bqlc-tt78admindemo.vnpt-invoice.com.vn/publishService.asmx</value>
   </setting>
   <setting name="DAIHOI_astatest_portal_PortalService" serializeAs="String">
    <value>https://bqlc-tt78admindemo.vnpt-invoice.com.vn/portalService.asmx</value>
   </setting>
   <setting name="DAIHOI_astatest_extmientrung_ExtMienTrungService"
    serializeAs="String">
    <value>https://bqlc-tt78admindemo.vnpt-invoice.com.vn/ExtMienTrungService.asmx</value>
   </setting>
   <setting name="DAIHOI_astatest_business_BusinessService" serializeAs="String">
    <value>https://bqlc-tt78admindemo.vnpt-invoice.com.vn/businessService.asmx</value>
   </setting>
   <setting name="DAIHOI_nghinhphong_business_BusinessService" serializeAs="String">
    <value>https://4401111868-tt78cadmin.vnpt-invoice.com.vn/businessService.asmx</value>
   </setting>
   <setting name="DAIHOI_nghinhphong_extmientrung_ExtMienTrungService"
    serializeAs="String">
    <value>https://4401111868-tt78cadmin.vnpt-invoice.com.vn/ExtMienTrungService.asmx</value>
   </setting>
   <setting name="DAIHOI_nghinhphong_portal_PortalService" serializeAs="String">
    <value>https://4401111868-tt78cadmin.vnpt-invoice.com.vn/portalService.asmx</value>
   </setting>
   <setting name="DAIHOI_nghinhphong_publish_PublishService" serializeAs="String">
    <value>https://4401111868-tt78cadmin.vnpt-invoice.com.vn/publishService.asmx</value>
   </setting>
  </DAIHOI.Properties.Settings>
	</applicationSettings>
</configuration>